@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plan PartnerHood</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src ="./Images/couple2.jpg" width="400" />
</div>
